body,dl,dt,dd,h2,ul,li{margin:0;padding:0;}
ul{list-style-type:none;}
.sort{height: 20px; line-height: 20px;position:relative;top:200px;left:300px;}
.sort dl{float: left;}
.sort dt{float: left;font-size: 12px;color: #747474;padding-right: 3px;}
.sort dd{float: left;position: relative;margin-right: 12px;}
.sort h2{width: 106px;height:17px;line-height: 17px;border: 1px solid #ccc;text-indent: 5px;font-size:12px;
	color: #747474;}
.sort a{display: block;width: 19px;height:19px; background: url(../images/sort_btn.png) no-repeat;
	position: absolute;top:0;left:89px;}
.sort a:hover{background: url(../images/sort_btn.png) no-repeat -19px 0;}
.sort ul{border: 1px solid #ccc;background: #fff;position: absolute;width: 106px;display: none;}
.sort li{font-size: 12px; color: #747474;text-indent: 5px;cursor: pointer;}
.sort .active{background: #999;color: #fff;}
.sort p{float: right;font-size: 12px;color: #747474;}
.sort p strong{color: #999;padding-right: 4px;}
.sort p span{padding:0 6px;}
.sort .color{color: #b20e00;}